{% include 'header.html' %}

{% with messages= get_flashed_messages() %} 

{% if messages %}
    <div class="error">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
{% endif %}

{% endwith %} 

<br>
<form method="post" action="/storeid" enctype="multipart/form-data">

    <div class="card">
            <h1>DATOS DE DIMME</h1>
        
        <label for="txtCuadrillaD">Cuadrilla:</label>
        <input id="txtCuadrillaD" class="form-control" type="text" name="txtCuadrillaD">
        
        <label for="txtEtiqueta">Etiqueta:</label>
        <input id="txtEtiqueta" class="form-control" type="text" name="txtEtiqueta">
        
        <label for="txtNumeroDi">Numero:</label>
        <input id="txtNumeroDi" class="form-control" type="text" name="txtNumeroDi">
        
        <label for="txtImei1">IMEI 1:</label>
        <input id="txtImei1" class="form-control" type="text" name="txtImei1">
        
        <label for="txtImei2">IMEI 2:</label>
        <input id="txtImei2" class="form-control" type="text" name="txtImei2">
        
        <label for="txtModelo">Modelo:</label>
        <input id="txtModelo" class="form-control" type="text" name="txtModelo">
        
        <label for="txtSerie">Serie:</label>
        <input id="txtSerie" class="form-control" type="text" name="txtSerie">
        
        <label for="txtNombreD">Nombre:</label>
        <input id="txtNombreD" class="form-control" type="text" name="txtNombreD">
        
        <label for="txtImeiS">Imei SIM:</label>
        <input id="txtImeiS" class="form-control" type="text" name="txtImeiS">
        
        <label for="txtObservaciones">Observaciones:</label>
        <input id="txtObservaciones" class="form-control" type="text" name="txtObservaciones">
        
        <label for="txtPantalla">Pantalla:</label>
        <input id="txtPantalla" class="form-control" type="text" name="txtPantalla">
        
        <label for="txtFallas">Fallas:</label>
        <input id="txtFallas" class="form-control" type="text" name="txtFallas">
        
        <label for="txtCompletas">Completas:</label>
        <input id="txtCompletas" class="form-control" type="text" name="txtCompletas">
        
        <input type="submit" class="btn btn-green" value="Agregar">
    </div>
    
    

</form>

{% include 'footer.html' %}